<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/lightbox.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/megamenu.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/dreaming-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <title>JJS | Blogs </title>
</head>
<body>
    <%- include('header') %>

<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Blog</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>Blog</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container no-sidebar">
    <!-- POST LAYOUT -->
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-sm-12">
                <div class="blog-grid auto-clear content-post row">
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-195 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-table category-life-style tag-light tag-life-style">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost1-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">Not your ordinary multi service.</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-192 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-fashion category-multi category-life-style tag-light tag-fashion tag-multi">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost5-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                                <a class="datebox" href="#">
                                    <span>19</span>
                                    <span>Dec</span>
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">We bring you the best by working</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-189 post type-post status-publish format-video has-post-thumbnail hentry category-table category-life-style tag-multi tag-life-style post_format-post-format-video">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost9-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">We design functional best multi</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-186 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-life-style tag-life-style">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost4-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                                <a class="datebox" href="#">
                                    <span>19</span>
                                    <span>Dec</span>
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">The child is swimming with a buoy</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-183 post type-post status-publish format-standard has-post-thumbnail hentry category-light category-fashion tag-light tag-multi">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost2-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">Collection hiding beside beige wall</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-180 post type-post status-publish format-standard has-post-thumbnail hentry category-table category-life-style tag-table tag-life-style">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost6-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">Bangles sitting on cliff near body of water</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-177 post type-post status-publish format-gallery has-post-thumbnail hentry category-light category-life-style tag-life-style post_format-post-format-gallery">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost7-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">Earrings in red chair and red headband</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-174 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion category-multi category-life-style tag-fashion tag-life-style">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost8-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">Bangles riding swing near trees</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                    <article
                            class="post-item post-grid col-bg-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-ts-12 post-171 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion category-table category-multi tag-fashion tag-table">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#">
                                    <img src="assets/images/blogpost3-370x330.jpg"
                                         class="img-responsive attachment-370x330 size-370x330" alt="img" width="370"
                                         height="330"> </a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <div class="post-author">
                                        <a href="#"> admin </a>
                                    </div>
                                    <div class="date">
                                        <a href="#">June 03, 2020</a>
                                    </div>
                                </div>
                                <div class="post-info equal-elem">
                                    <h2 class="post-title"><a href="#">Bangles running on grass field</a></h2>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada sodales quisque
                                    litora dapibus primis lacinia
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <nav class="navigation pagination">
                    <div class="nav-links">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="footer style-01">
    <div class="section-001 section-009">
        <div class="container">
            <div class="kaycee-newsletter style-01">
                <div class="newsletter-inner">
                    <div class="newsletter-info">
                        <div class="newsletter-wrap">
                            <h3 class="title">Newsletter</h3>
                            <h4 class="subtitle">Get Discount 30% Off</h4>
                            <p class="desc">Suspendisse netus proin eleifend fusce sollicitudin potenti vel magnis
                                nascetur</p>
                        </div>
                    </div>
                    <div class="newsletter-form-wrap">
                        <div class="newsletter-form-inner">
                            <input class="email email-newsletter" name="email" placeholder="Enter your email ..."
                                   type="email">
                            <a href="#" class="button btn-submit submit-newsletter">
                                <span class="text">Subscribe</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-010">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyright 2020 <a href="#">Kaycee</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6">
                    <div class="kaycee-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
					<span class="icon">
						<span class="fa fa-home"></span>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="wishlist.html">
					<span class="icon">
						<span class="flaticon-heart"></span>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="cart.html">
					<span class="icon">
						<span class="flaticon-shopping-bag-1"></span>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="my-account.html">
					<span class="icon">
						<span class="flaticon-profile"></span>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="flaticon-right-arrow"></i>
</a>
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/chosen.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/jquery.scrollbar.min.js"></script>
<script src="assets/js/lightbox.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/jquery.zoom.min.js"></script>
<script src="assets/js/threesixty.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/mobilemenu.js"></script>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
<script src="assets/js/functions.js"></script>
</body>

</html>