<footer id="site-footer" class="site-footer three-columns">
  <div class="footer">
    <div class="section-padding">
      <div class="section-container">
        <div class="block-widget-wrap">
          <div class="row">
            <div class="col-lg-4 column-left">
              <div class="column-wrap">
                <div class="block block-newsletter">
                  <h2 class="block-title">Our Newsletter</h2>
                  <div class="block-content">
                    <div class="newsletter-text">Sign up for the latest Ice offers and exclusives.</div>
                    <form action="#" method="post" class="newsletter-form">
                      <input type="email" name="your-email" value="" size="40" placeholder="Email address">
                      <span class="btn-submit">
                        <input type="submit" value="Subscribe">
                      </span>
                    </form>
                  </div>
                </div>
                <div class="block block-image">
                  <img width="309" height="32" src="media/payments.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-5 column-center">
              <div class="column-wrap">
                <div class="block block-image m-b-20">
                  LOGO
                  <!-- <img width="100" src="media/logo.png" alt=""> -->
                </div>
                <div class="block block-social">
                  <ul class="social-link">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 column-right">
              <div class="column-wrap">
                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-8 md-b-20">
                    <div class="block block-menu">
                      <h2 class="block-title">Links</h2>
                      <div class="block-content">
                        <ul>
                          <li>
                            <a href="/">Home</a>
                          </li>
                          <li>
                            <a href="/about">About Us</a>
                          </li>
                          <li>
                            <a href="/shop">Shop</a>
                          </li>
                          <li>
                            <a href="/contact">Contact Us</a>
                          </li>
                         
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="section-padding">
      <div class="section-container">
        <div class="block-widget-wrap">
          <p class="copyright text-center" style="display: flex; width: 60%; margin: 0 auto; justify-content: center;">
            <span style="margin: 0 12px;">Copyright © <script>document.write(/\d{4}/.exec(Date())[0])</script></span>
            <span style="margin: 0 12px;">All Right Reserved</span> 
            <span style="margin: 0 12px;">Designed By <a href="http://" target="_blank" rel="noopener noreferrer">Amardeep Singh.</a></span>
           </p>
        </div>
      </div>
    </div>
  </div>
</footer>