<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Data -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home Parallax | Mojuri</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
		
		<!-- Dependency Styles -->
		<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
		<link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
		<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
		<link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
		<link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
		<link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
		<link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
		<link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">

		<!-- Site Stylesheet -->
		<link rel="stylesheet" href="assets/css/app.css" type="text/css">
		<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">
    <style>
      body{
        overflow-x: hidden;
      }
    </style>
		
		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap" rel="stylesheet">
	</head>
	
	<body class="home home-5">
		<div id="page" class="hfeed page-wrapper">
			<header id="site-header" class="site-header header-v1 color-white">
        <%- include('header') %>
      </header>

			<div id="site-main" class="site-main">
				<div id="main-content" class="main-content">
					<div id="primary" class="content-area">
						<div id="content" class="site-content" role="main">
							<section class="section m-b-0">
								<!-- Block Parallax -->
								<div class="block block-parallax bg-img-1 bg-top-center">
									<div class="section-container">
										<div class="row">
											<div class="col-md-6">
												<div class="content">
													<h2 class="title">Spring <br>Collections</h2>
													<div class="description">Brighten up your look with vibrant gemstone jewelry.</div>
													<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="/shop">Explore All</a>
												</div>
											</div>
											<div class="col-md-6">
											</div>
										</div>
									</div>
									<div class="go-to-section">
										<div class="go-to-button">
											<a class="scroll-button" href="#section-2">Scroll Down</a>
										</div>
										<div class="go-to-text">
											<a class="scroll-button" href="#section-2">Scroll Down</a>
										</div>
									</div>
								</div>
							</section>

							<section class="section m-b-0" id="section-2">
								<!-- Block Parallax -->
								<div class="block block-parallax bg-img-2 right-text">
									<div class="section-container">
										<div class="row">
											<div class="col-md-6">
											</div>
											<div class="col-md-6">
												<div class="content">
													<h2 class="title">Curated by <br>Color</h2>
													<div class="description">Introducing your outfit’s missing link.</div>
													<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="/shop">Explore All</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section class="section m-b-0">
								<!-- Block Parallax -->
								<div class="block block-parallax bg-img-3 bg-top-center">
									<div class="section-container">
										<div class="row">
											<div class="col-md-6">
												<div class="content">
													<h2 class="title">Make the <br>Connection</h2>
													<div class="description">Brighten up your look with vibrant gemstone jewelry.</div>
													<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="/shop">Explore All</a>
												</div>
											</div>
											<div class="col-md-6">
											</div>
										</div>
									</div>
								</div>
							</section>

							<section class="section m-b-0">
								<!-- Block Parallax -->
								<div class="block block-parallax bg-img-4 right-text">
									<div class="section-container">
										<div class="row">
											<div class="col-md-6">
											</div>
											<div class="col-md-6">
												<div class="content">
													<h2 class="title">Rings <br>Collections</h2>
													<div class="description">Introducing your outfit’s missing link.</div>
													<a class="button button-white button-outline thick-border button-arrow animation-horizontal" href="/shop">Explore All</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div><!-- #content -->
					</div><!-- #primary -->
				</div><!-- #main-content -->
			</div>

			<%- include('footer') %>
		</div>

		<!-- Back Top button -->
		<div class="back-top button-show">
			<i class="arrow_carrot-up"></i>
		</div>

		<!-- Search -->



		<!-- Newsletter Popup -->
		<div class="popup-shadow"></div>
		<div class="newsletter-popup">
			<a href="#" class="newsletter-close"></a>
			<div class="newsletter-container"> 
				<div class="newsletter-img">
					<img src="media/banner/newsletter-popup.jpg" alt="">
				</div> 
				<div class="newsletter-form">
					<form action="#" method="post">
						<div class="newsletter-title">
							<div class="title">Get<br> free shipping</div>
							<div class="sub-title">on your first order. Offer ends soon.</div>
						</div>
						<div class="newsletter-input clearfix">
							<input type="email" name="your-email" size="40" class="form-control" placeholder="Enter Your Email ...">
							<input type="submit" value="Subscribe" class="form-control">
			     		</div>
			     		<div class="newsletter-no">no thanks !</div>
					</form>
				</div> 
			</div>
		</div>

		<!-- Page Loader -->
		<div class="page-preloader">
	    	<div class="loader">
	    		<div></div>
	    		<div></div>
	    	</div>
	    </div>

		<!-- Dependency Scripts -->
		<script src="libs/popper/js/popper.min.js"></script>
		<script src="libs/jquery/js/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/slick/js/slick.min.js"></script>
		<script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
		
		<!-- Site Scripts -->
		<script src="assets/js/app.js"></script>
	</body>
</html>